<div class="container large-bottom-margin">
  <div class="full-width">
    <div class="small-padding">
      <div class="small-margin small-padding round-corners light-pink-background">
        <h1><center>Hi, welcome to Dank Quotes.</center></h1>
      </div>


      

      
         <div class="small-margin small-padding round-corners light-purple-background">
           
           
             <h4>
               <p>Here at DankMeme.co, we like to give each user a pleasant experience. To get a new quote, press the "new quote" button and you will be gifted with a new sheet of text. These "dank quotes" are gathered by experienced meme professionals that gather the memes that are the best of the best. Have fun!</p>
             </h4>
           
         </div>


      <div class="small-margin small-padding round-corners light-blue-background">
        
        <p>
          <%= @dankmemes.sample.quote %></p>
      </div>

      <div class="third" style="margin-left:33.33%;">
   
          
        <div class="small-margin small-padding round-corners light-green-background" style="text-align:center;">

          <a class="pink-button" href="" style="background-color:#FFDDEA; color:#000;">New Quote</a>
        </div>
      </div>
      
      
    </div?>
  </div>
</div>
